<div class="header">
  <h1> TomatoBase </h1>
  <% if logged_in? %>
    <ul>
      <li><%= link_to 'Logout', session_path, :method => :delete, class: "logout" %></li>
    </ul>
  <% end %>
  <div class="movies-nav">
    <%= link_to "In Theaters", in_theaters_path, class: "green nav" %>
    <%= link_to "New on DVD", new_releases_path, class: "green nav" %>
  </div>
  <div class="categories">
    <%= link_to "Want To See", user_movies_path(session[:user_id]) + "?category=Want+to+see" %>
    <%= link_to "Loved", user_movies_path(session[:user_id]) + "?category=LOVED+IT" %>
    <%= link_to "Hated", user_movies_path(session[:user_id]) + "?category=HATED+IT" %>
  </div>
</div>
<div class="container">
  <h1> Search All Movies </h1>
  <%= form_tag search_index_path, :method => :get do %>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
    <%= submit_tag "Search" %>
  <% end %>
  <% if @movies %>
    <% @movies.each do |movie| %>
      <div class="search-movie">
        <h2> <%= movie.title %> </h2> 
        <h3> Year: <%= movie.year %> </h3> 
        <h3> Critics Score: <%= movie.ratings.critics_score %> </h3>
        <p> Synopsis: <%= movie.synopsis %> </p>
        <img src="<%= movie.posters.detailed %>" alt="Movie Poster"> 
      <div class="buttons">
        <%= form_tag( user_movies_path(session[:user_id]), :method => :post ) do %>
          <%= hidden_field_tag("movie[title]", movie.title) %>
          <%= hidden_field_tag("movie[year]", movie.year) %>
          <%= hidden_field_tag("movie[img_url]", movie.posters.detailed) %>
          <%= hidden_field_tag("movie[rt_score]", movie.ratings.critics_score) %>

          <%= submit_tag "Want to see", name: "movie[category]" %>
          <%= submit_tag "HATED IT", name: "movie[category]" %>
          <%= submit_tag "LOVED IT", name: "movie[category]" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>





