<div class="search_header">
  <h1> Search Tomatobase </h1>
    <%= form_tag search_index_path, :method => :get do %>
      <%= label_tag :title %>
      <%= text_field_tag :title %>

      <%= label_tag :limit %>
      <%= text_field_tag :limit %>

      <%= submit_tag "Search" %>
    <% end %>
</div>

<div class="container">
  <% if @movie %>
    <h2> <%= @movie.title %> </h2> 
    <h2> Year: <%= @movie.year %> </h2> 
    <h2> Critics Score: <%= @movie.ratings.critics_score %> </h2>
    <p> Synopsis: <%= @movie.synopsis %> </p>
    <img src="<%= @movie.posters.detailed %>" alt="Movie Poster"> 


    
    <%= form_tag( user_movies_path(User.first), :method => :post ) do %>
     
      <%= hidden_field_tag( "movie[title]", @movie.title) %>
      <%= hidden_field_tag( "movie[year]", @movie.year) %>
      <%= hidden_field_tag( "movie[img_url]", @movie.posters.detailed) %>
      <%= hidden_field_tag( "movie[rt_score]", @movie.ratings.critics_score) %>

      <%= submit_tag "Want to see", name: "movie[category]" %>
      <%= submit_tag "HATED IT", name: "movie[category]" %>
      <%= submit_tag "LOVED IT", name: "movie[category]" %>

    <% end %>
  <% end %>
</div>





