<div class="header">
  <h1> TomatoBase </h1>
  <%= link_to "Search Movies", search_index_path, class: "nav" %>
  <%= link_to "New on DVD", new_releases_path, class: "nav" %>
</div>

<div class="container">
  <% @reviews.each do |review| %>
    <p><a href="http://www.canistream.it/search/movie/<%= review.movie.title.gsub( /\s/, '+' )%>"><%= review.movie.title %></a></p>
    <img src="<%= review.movie.img_url %>" alt="Movie Poster">
  <% end %>
</div>


