<div class="header">
  <h1> TomatoBase </h1>
    <% if logged_in? %>
      <ul>
        <li><%= link_to 'Logout', session_path, :method => :delete, class: "logout" %></li>
      </ul>
    <% end %>
  <%= link_to "Search", search_index_path, class: "white nav" %>
  <%= link_to "New on DVD", new_releases_path, class: "white nav" %>
</div>

<div class="container">
  <div class="all-movies">
    <% @reviews.each do |review| %>
      <div class="single-movie">
        <p><a href="http://www.canistream.it/search/movie/<%= review.movie.title.gsub( /\s/, '+' )%>"><%= review.movie.title %></a></p>
        <img src="<%= review.movie.img_url %>" alt="Movie Poster" width="175">
      </div>
    <% end %>
  </div>
</div>


