<!DOCTYPE html>
<html>
<head>
  <title>Tomatobase</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Want To See", user_movies_path(current_user) + "?category=Want+to+see" %>

<%= yield %>

</body>
</html>
